!
! Enable necessary features
!
feature lacp
feature interface-vlan
feature vtp
feature vpc
{% if vlans is defined and vlans | length > 0 %}
!
! Configure VLANs
!
{% for vlan in vlans %}
vlan {{ vlan.id }}
  name {{ vlan.name }}
{% endfor %}
{% else %}
! No VLANs to configure
{% endif %}
{% if snmp_contact is defined and snmp_location is defined %}
!
! Configure SNMP
!
snmp-server contact {{ snmp_contact }}
snmp-server location {{ snmp_location }}
{% if snmp_communities is defined and snmp_communities | length > 0 %}
{% for community in snmp_communities %}
  {% if community.name is defined and community.permission is defined %}
snmp-server community {{ community.name }} {{ community.permission }}
  {% endif %}
{% endfor %}
{% else %}
! SNMP communities not configured
{% endif %}
{% else %}
! SNMP settings not configured
{% endif %}
{% if ntp_server is defined %}
!
! Configure NTP
!
ntp server {{ ntp_server }} use-vrf management
{% else %}
! NTP server not configured
{% endif %}
{% if syslog_server is defined %}
!
! Configure Syslog
!
logging server {{ syslog_server }} 5 use-vrf management
{% else %}
! Syslog server not configured
{% endif %}
{% if timezone is defined and timezone_offset is defined %}
!
! Configure Time Zone
!
clock timezone {{ timezone }} {{ timezone_offset }} 0
{% else %}
! Timezone not configured
{% endif %}
!
! Configure Spanning Tree
!
interface Ethernet1/1
  spanning-tree portfast
  spanning-tree bpduguard enable
interface Ethernet1/2
  spanning-tree portfast
  spanning-tree bpduguard enable
!
! Configure VPC
!
vpc domain 1
  peer-switch
  role priority 1
  system priority 4096
  {% for switch_name in groups['switches'] %}
    {% if switch_name != inventory_hostname %}
  peer-keepalive destination {{ hostvars[switch_name]['ansible_host'] }} source {{ hostvars[inventory_hostname]['ansible_host'] }} vrf management
    {% endif %}
  {% endfor %}
!
interface port-channel10
  switchport mode trunk
  switchport trunk allowed vlan 2732,2733,2748,2749
  vpc peer-link
!
